.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/8holic.slnx/FileContentIndex/4cb5351e-ce86-4b4f-9096-c7477884b62b.vsidx
.vs/8holic.slnx/FileContentIndex/719aba28-3239-4c1a-814c-e10a55af4f43.vsidx
.vs/8holic.slnx/FileContentIndex/71100615-c780-4002-b9ce-dc632a8a7798.vsidx
.vs/8holic.slnx/v18/.wsuo
.vs/8holic.slnx/v18/DocumentLayout.backup.json
.vs/8holic.slnx/v18/DocumentLayout.json
