body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.6;
}

header {
  background: #eee;
  padding: 1rem;
}

nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: black;
}

main {
  padding: 1rem;
  max-width: 800px;
  margin: auto;
}

footer {
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #555;
  border-top: 1px solid #ddd;
}
.blog-title {
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  margin-right: 0.5rem;
}

.blog-date,
.blog-categories {
  font-size: 14px;
  color: #666;
}

.blog-description {
  margin-top: 0.4rem;
  font-size: 15px;
}

.responsive-image {
    max-width: 100%;
    height: auto;
    width: auto;
}

.blog-image {
    max-width: 100%;
    height: 500px;
    width: auto; /* or 50% for responsive */
}